@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
    font-family: 'Inter', sans-serif;
    position: relative;
    padding: 0 0 0 2em;
    margin-left: 2em;
}

publications {
    position: relative;
    
    border-bottom: 1px solid #eee;
}

h1 {
    padding: 0 0 0 0.3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
