@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.article {
	margin-bottom: 1em;
}

h1 {
	margin-top: 3em;
	margin-bottom: 1em;
}

.homepage {
	margin-top: 10em;
	margin-bottom: 10em;
	margin-left: 20em;
	margin-right: 20em;
}
